nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

h1 {
    border: 1px solid black;
    width: 800px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    justify-items: center;
    object-fit: center;
    object-position: 100% 10%; 
    padding-top: 5px;
    padding-left: 5px;
    align-items: center;
    margin: 10px;
    top:50%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    display:relative;
    width: 600px;
    height: 650px ;
    grid-row: auto;
    column-fill: auto;
    border: 2px solid green;
    margin-right: 1em;
    object-fit: center;
    object-position: 100% 10%;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 5px;
    padding-bottom: 10px;
}

section {
    display:flex;
}
.image-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5px;
}
.image-container input {
    font-size: large;
    height: 40px;
    position: flex;
    border:3px soldi black;
    padding-top: 5px;
    padding-left: 5px;
    align-items: center;
    margin: 10px;
    top:50% 
}
#image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

fieldset {
    border: 1px solid black;
    width: 800px;
    margin: auto;
    justify-content: center;
    justify-items: center;
    object-fit: center;
    object-position: 100% 10%;
    
}

/* Sage's styles for editor.html */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color:  #e5e9ec;
}
.text-input {
    text-align: center;
    font-size: large;
    display: block;
    height: 100px;
    width: 500px;
}
.text-input:required{
    border: solid rgb(230, 115, 115) 5px;
}
/* #inOne:required:invalid{
    border: solid rgb(230, 115, 115) 5px; */
/* } */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family:'Rubik', sans-serif;
}
.drop-menue {
    text-align: center;
    font-size: large;
    font-family:'Rubik', sans-serif;
}
.drop-menue:required {
    border: solid rgb(230, 115, 115) 5px;
}
.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: solid 5px #357688;
    border-radius: 30px;
    max-width: 800px;
    font-family:'Rubik', sans-serif;
}
.instructions p {
    font-size: large;
    padding: 5px;
}
#makestory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#usr-sub {
    font-size: large;
    font-family:'Rubik', sans-serif;
    width: 500px;
    height: 50px;
    background-color: #EEBE14;
    border: none;
    color: #4c4e50;
}
#usr-sub:hover {
    background-color: #fedf70;
    color: #6a809b;
}

.test{
    font-family:'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.group {
    margin: 50px;
}
.word-input {
    height: 40px;
    font-size: large;
    text-align: center;
}
.tag {
    text-align: center;
}
#make-story {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: large;
    font-family:'Rubik', sans-serif;
    width: 500px;
    height: 50px;
    background-color: #EEBE14;
    border: none;
    color: #4c4e50;
}
#make-story:hover {
    background-color: #fedf70;
    color: #6a809b;
}
/* End Sage edits */
