nav {
    display: flex;
    justify-content: space-evenly;
}

.usr-input {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

button {
    display: flex;
    align-content: center;
}

body {
    background-color: #E5E9EC;
}

#content {
    text-align: center;
}

#content p {
    margin: 0 auto;
}

form {
    /* margin: 0 auto; */
    /* width: 55%;
    background-color: rgba(10, 247, 89, 0.277);
    text-align: center;
    padding: 1em 0 .1em 0; */
    /* border: .1px solid gray;  */
    border: .1px solid rgb(105, 156, 43);
    text-align: center;
    background-color: rgba(9, 246, 151, 0.431);
    padding: 1em 0 .1em 0;
    width: 55%;
    margin: auto;
}

.form {
    text-align: center;
}

#hashtags {
    text-align: center;
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}